<div class="row"> 
  <h3 class="card mx-auto">{{article.title}}</h3>
  <h5 class="card-panel articleBody">{{body}}</h5>
  
</div>
<h5 class="bg-dark text-white">Leave your comment here:</h5>
<div class="mx-auto">
<div class="row">
  <div class="mx-auto"></div>
   <form action="/comment/{{article._id}}" method="POST" class="mx-auto card-panel col s8">
    
      <div class="row">
        <div class="input-field col 12">
          <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
        </div>
        </div>
        <div class="row">
        <div class="input-field col 12">
          <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
        </div>
      </div>
      <div class="row">
        <div class="input-field">
        <center><input class="btn btn-dark" type="submit" value="Submit"></center>
        </div>
      </div>
    </form>
</div>
</div>
<div class="row">
  <div class="mx-auto"></div>
    <div class="col s8">
      <h5 class="bg-dark text-white">Comments:</h5>
        {{#if article.comment}}
          {{#each article.comment}}
            <div class="card">
              <p class="bg-dark text-white" id="nameComment">From: {{name}}</p>
              <p>{{body}}<p>
            </div>
          {{/each}}
          {{else}}
        {{/if}}
    </div>
</div>